fastapi==0.115.8
uvicorn[standard]==0.30.6
python-multipart==0.0.9

pydantic==2.10.6
pydantic-settings==2.7.1

google-cloud-storage==2.19.0
google-auth==2.38.0
requests==2.32.3

Pillow==11.3.0
numpy==1.26.4

tensorflow-cpu==2.15.1
keras==2.15.0
h5py==3.10.0
protobuf<5
